body {
    margin: 0;
    padding: 0;
    background-color: #1B252F;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* ------------ NAVBAR ----------*/

.logo-rounded {
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.nav-link-custom {
    font-size: 20px;
}

.nav-link-custom, .navbar-brand, .navbar-nav .nav-link {
    color: white !important;
    text-transform: uppercase;
    font-family: 'Averia Serif Libre', 'Hind Vadodara', sans-serif;
}

#navbarNav {
    border: 1px solid white; /* Add a border */
    border-radius: 10px; /* Make the border rounded */
    padding: 10px; /* Add some padding */
}

.navbar-nav .nav-item {
    margin: 0 10px; /* Add margin to the left and right */
}